*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: beige;
}

#header{

    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}

.logo{
    width: 100px;
}

.links{
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.links:hover{
    text-decoration: underline;
    color: brown;
}
#check{
    display: none;
}
.icons{
    font-size: 2.5rem;
    font-weight: 600;
    position: absolute;
    right: 5%;
    display: none;
}

.navbar a{
    margin-left: 2.5rem;
}
.home_text{
padding: 18% 0px 0px 18%;
}
#name{
    font-size: 30px;
    padding-bottom: 8px;
    font-family: "Playwrite NZ Basic", cursive;
}
#name_sub{
    font-size: 20px;
    padding-bottom: 8px;

}
#name_supersub{
    line-height: 1.5;
}
.action{
    text-decoration: none;
    color: white;
    background-color: black;
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
}
#home{
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
}
#welcome_img{
    width: 75%;
}

#about{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
}

.about_head{
     margin-bottom: 8px;
     text-align: center;
}
.about_head p{
    margin-bottom: 8px;
}
#about_sub{
    padding: 40px 40px 80px 40px;
    border-radius: 10px;
    max-width: 700px;
}
#skills h2{
    text-align: center;
}

#skill_set{
    padding: 50px 0px;
    display: grid;
    grid-template-rows: repeat(2,auto);
    grid-template-columns: auto auto;
    gap: 15%;
    justify-content: center;
}
.fa-brands{
    font-size: 100px;
}
.logo_text{
text-align: center;}

#contact_id{
    padding: 150px 0px;
    text-align: center;
    line-height: 1.5;
}

#contact_head{
     margin-bottom: 8px;
     text-align: center;
}
#contact_text a{
    text-decoration: none;
    color: black;
}

#contact_text:hover .brand{
    animation: spin 1s linear infinite;
}

@keyframes spin{
    0%{
        transform: rotate(45deg);
    }
    15%{
        transform: rotate(90deg);
    }30%{
        transform: rotate(135deg);
    }45%{
        transform: rotate(180deg);
    }60%{
        transform: rotate(225deg);
    }
    75%{
        transform: rotate(270deg);
    }90%{
        transform: rotate(315deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

footer{
    padding: 60px;
}
#copyright{
    text-align: center;
}

@media (max-width:760px){
    #header{
        position: fixed;
        top: 10px;
    }
    .home_img, .logo{
        display: none;
    }
    .navbar a{
    display: block;
    text-align: center;
    font-size: 1.1rem;
    margin: 1.5rem 0px;
}
.icons{
        display: flex;
    }
    #closeicon{
        display: none;
    }
    #check:checked~.icons #menuicon{
        display: none;
    }
    #check:checked~.icons #closeicon{
        display: block;
    }
    .navbar{
        position: absolute;
        background-color: rgba(165, 42, 42, 0.273);
        top: 100%;
        left: 0;
        width: 100%;
        display: none;
    }
    
}
#check:checked~.navbar{
    display: block;
}
